*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(bg.gif);
    background-size: cover;
    display: flex;
    align-items: center;
}
.row{
    display: flex;
}
.box{
    width: 60%;
    margin: auto;
    font-size: 30px;
    font-weight: 700;
}
.card{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    background-color: rgba(1, 1, 1, 0.6);
    color: white;
    font-size: 40px;
}
.start{
    background-color: #00FA9A;
    color: rgb(5, 161, 5);
}
.stop{
    background-color: orangered;
    color: cyan;
}
.time{
    background-color: cornflowerblue;
    color: blue;
}
.pay{
    background-color: gold;
    color: rgb(5, 161, 5);
}
.btn{
    width: 100%;
    height: 100px;
    background-color: violet;
    display: flex;
    align-items: center;
    justify-content: center;
}
.datetime{
    background-color: teal;
    color: aqua;
}
button {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: green;
    color: white;
    font-size: 20px;
    font-weight: 700;
}